/* common rules */

@font-face {
  font-family: "Gilroy - Extra Bold";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  src: url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  src: url("../fonts/gilroylight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", Arial, serif;
  font-size: 15px;
  color: #464646;
  background-color: #ffffff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

.hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 9px 5px;
  font-family: "Gilroy - Extra Bold", Arial, serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.5px;
  text-align: center;
  border: 0;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 20%;
  background-color: #f0c52e;
  transition: 0.25s;
}

.btn:hover::before {
  top: 0;
  height: 100%;
}

.btn:active {
  color: #af8735;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* site rules */

.main-header {
  position: relative;
  margin-top: 40px;
  padding: 0 60px;
  padding-top : 47px;
  padding-bottom: 163px;
  background-color: rgba(240, 197, 46, 0.5);
}

.main-title {
  position: absolute;
  top: -28px;
  left: 57px;
  margin: 0;
  font-family: "Gilroy - Extra Bold", Arial, serif;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.55px;
  color: #000000;
}

.user-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 42px;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  color: #000000;
}

.user-search {
  position: relative;
  width: 441px;
}

.user-search .search {
  margin-left: 39px;
  border: 0;
  background-color: transparent;
}

.user-search::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  width: 26px;
  height: 26px;
  background-image: url('../img/icons.svg');
  background-repeat: no-repeat;
  background-position: 0 -475px;
}

.user-search button {
  border: 0;
  background-color: transparent;
}

.user-block {
  display: flex;
  justify-content: space-between;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-block .user-login {
  margin-right: 173px;
  margin-left: 27px;
}

.user-block a {
  position: relative;
}

.user-block a::before {
  content: "";
  position: absolute;
  background-image: url('../img/icons.svg');
  background-repeat: no-repeat;
}

.user-login::before {
  top: -1px;
  left: -32px;
  width: 23px;
  height: 22px;
  background-position: 0 -626px;
}

.user-compare::before {
  top: 1px;
  left: -25px;
  width: 20px;
  height: 20px;
  background-position: 0 -88px;
}

.user-cart::before {
  left: -28px;
  width: 22px;
  height: 22px;
  background-position: 0 0;
}

.user-block a:hover {
  opacity: 0.6;
}

.user-block a:active {
  opacity: 0.3;
}

.user-block .user-exit {
  opacity: 0.3;
}

.shop-block {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Gilroy - Extra Bold", Arial, serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

/* .shop-block-catalog {
  margin-right: 321px;
}

.shop-block li:nth-child(2) {
  margin-right: 35px;
} */

.shop-block-catalog a {
  position: relative;
}

.shop-block-catalog a::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url('../img/icons.svg');
  background-repeat: no-repeat;
  background-position: 0 -379px;
  opacity: 0.3;
}

.shop-block a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.shop-block a:active {
  color: rgba(0, 0, 0, 0.3);
}

.shop-block-inner ul {
  list-style: none;
}

.main-slider {
  position: relative;
  top: -113px;
  margin-bottom: -6px;
}

.main-slide {
  display: flex;
  justify-content: space-between;
}

.main-slide img {
  margin: 0 auto;
}

.main-slide:first-of-type img { /* Нужно прописать марджины для остальных слайдов */
  margin-left: 90px;
}


.main-slide .description {
  width: 508px;
  margin-right: 53px;
}

.main-slide h2 {
  margin-top: 80px;
  margin-bottom: 20px;
  font-family: "Gilroy - Extra Bold", Arial, serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.69px;
  color: #000000;
}

.main-slide p {
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.18px;
}

.main-slide .btn {
  width: 220px;
  margin-bottom: 50px;
}

.main-slide-table {
  border-collapse: collapse;
}

.main-slide-table-top {
  font-family: "Gilroy";
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  color: #000000;
  margin-bottom: 15px;
}

.main-slide-table tr:last-of-type {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
}

.main-slide-table td:not(:last-of-type) {
  padding-right: 78px;
}

.main-slide-table-top td {
  padding-bottom: 12px;
}

.main-slider-controls {
  position: absolute;
  bottom: 140px;
  right: 100px;
}

.inner-nav {
  font-family: "Gilroy - Extra Bold", Arial, serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 0.18px;
  color: #000000;
}

.inner-nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.inner-nav-list li {
  width: 160px;
}

.inner-nav-list svg {
  background-color: rgba(240, 197, 46, 0.5);
  margin-bottom: 27px;
}

.inner-nav-link:hover svg{
  background-color: rgba(240, 197, 46, 1);
}


.inner-nav-link:active image {
  opacity: 0.3;
}

.inner-nav-link:active svg {
  background-color: #f0c52e;
}

.inner-nav-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.features {
  background-color: #e5e5e5;
}

.features .container {
  display: flex;
  justify-content: space-between;
}

.features-controls {
  width: 284px;
}

.features-controls .btn {
  width: 160px;
}

.features-description h3 {
  font-family: "Gilroy - Extra Bold", Arial, serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  color: #000000;
}

.features-description p {
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}

.partners {
  display: flex;
  justify-content: space-between;
}

.partners img {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%);
  opacity: 0.2;
}

.partners img:hover {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  -webkit-filter: grayscale(0%);
  opacity: 1;
}

.about-and-contacts h3 {
  font-family: "Gilroy - Extra Bold", Arial, serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  color: #000000;
}

.about-and-contacts p {
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
}

.about-and-contacts .btn {
  width: 260px;
}

.custom-list {
  font-family: "Gilroy - Extra Bold", Arial, serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  color: #000000;
  list-style: none;
}

.main-footer {
  background-color: #464646;
}

.main-footer a,
.main-footer address {
  font-style: normal;
  color: #ffffff;
}

.main-title-footer a {
  font-family: "Gilroy - Extra Bold", Arial, serif;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.55px;
  color: #ffc600;
}

.main-title-footer a:hover {
  opacity: 0.6;
}

.main-title-footer a:active {
  opacity: 0.3;
}

.htmlacademy-link {
  display: inline-block;
  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 35px;
}

.social-links a {
  display: inline-block;
  width: 42px;
  height: 42px;
  opacity: 0.3;
}

.social-links a:hover {
  opacity: 0.6;
}

.social-links a:active {
  opacity: 0.1;
}

.social-links .fb {
  background-image: url("../img/icons.svg");
  background-repeat: no-repeat;
  background-position: 0 -108px;
}

.social-links .inst {
  background-image: url("../img/icons.svg");
  background-repeat: no-repeat;
  background-position: 0 -223px;
}

.social-links .tw {
  background-image: url("../img/icons.svg");
  background-repeat: no-repeat;
  background-position: 0 -584px;
}

/* inner pages */

.inner-title {
  font-family: "Gilroy - Extra Bold", Arial, serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  color: #000000;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs a:hover {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs .active:hover {
  cursor: default;
  opacity: 0.3;
}

.sorting-form {
  background-color: #eeeeee;
}

.sorting-form span {
  font-family: "Gilroy - Extra Bold", Arial, serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.91px;
  text-transform: uppercase;
  background-color: #dbdbdb;
  color: #000000;
}

.sorting-form legend {
  font-family: "Gilroy - Extra Bold", Arial, serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
}

.sorting-form label {
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  color: #000000;
}

.sorting-form button {
  width: 200px;
}

.sorting-form-price .price-controls {
  font-family: "Gilroy", Arial, serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  color: #bfbfbf;
}

.sorting-items {
  background-color: #ebebeb;
}

.sorting-items span {
  font-family: "Gilroy - Extra Bold", Arial, serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 0.91px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-items-spec {
  list-style: none;
}

.sorting-items-spec a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.3;
}

.sorting-items-spec a:hover {
  opacity: 0.6;
}

.sorting-items-spec a:active {
  opacity: 1;
}

.sorting-items-spec a.active {
  opacity: 1;
  cursor: default;
}

.catalog-items h2 {
  font-family: "Gilroy - Extra Bold", Arial, serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
}

.catalog-items span {
  font-family: "Gilroy", Arial, serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
}

.catalog-items .btn {
  width: 200px;
}

.catalog-items .compare-btn {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  opacity: 0.5;
}

.catalog-pagination {
  background-color: #ebebeb;
}

.catalog-pagination a {
  font-family: "Gilroy - Extra Bold", Arial, serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-pages {
  list-style: none;
}
