/* common rules */

@font-face {
  font-family: "Gilroy - Extra Bold";
  src: url("../fonts/gilroyextrabold.woff2") format("woff2");
  src: url("../fonts/gilroyextrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroylight.woff2") format("woff2");
  src: url("../fonts/gilroylight.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 15px;
  color: #464646;
  background-color: #ffffff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #000000;
}

.hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  position: relative;
  display: inline-block;
  z-index: 1;
  padding: 9px 5px;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.5px;
  text-align: center;
  border: 0;
  background-color: transparent;
  color: #000000;
  cursor: pointer;
}

.btn::before {
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 20%;
  background-color: #f0c52e;
  transition: 0.25s;
}

.btn:hover::before,
.btn:focus::before {
  top: 0;
  height: 100%;
}

.btn:active {
  color: #af8735;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

/* site rules */

.main-header {
  position: relative;
  margin-top: 40px;
  padding: 0 60px;
  padding-top : 33px;
  padding-bottom: 163px;
  background-color: rgba(240, 197, 46, 0.5);
}

.main-header.inner {
  padding-bottom: 48px;
}

.main-title {
  position: absolute;
  top: -28px;
  left: 57px;
  margin: 0;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.55px;
  color: rgba(0, 0, 0, 1);
  cursor: default;
}

.main-title a:hover,
.main-title a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.main-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.user-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
  font-size: 15px;
  font-weight: 300;
  line-height: 22px;
  color: #000000;
}

.user-search {
  position: relative;
  width: 441px;
}

.user-search::before {
  content: "";
  position: absolute;
  top: 13px;
  left: -1px;
  width: 26px;
  height: 26px;
  background-image: url('../img/icons.svg');
  background-repeat: no-repeat;
  background-position: 0 -475px;
}

.user-search .search {
  position: relative;
  padding-top: 16px;
  padding-bottom: 15px;
  padding-left: 39px;
  padding-right: 95px;
  border: 0;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  outline-color: transparent;
  opacity: 0.3;
}

.user-search .search:hover {
  opacity: 0.6;
}

.user-search .search:focus {
  width: 441px;
  border-bottom-color: #000000;
  opacity: 1;
}

.user-search .search-btn {
  display: none;
  position: absolute;
  top: 1px;
  right: 0;
  padding: 14px;
  border: 2px solid #000000;
  background-color: transparent;
}

.search:focus + .search-btn {
  display: inline-block;
}

.search:focus + .search-btn:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #000000;
  cursor: pointer;
}

.search:focus + .search-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.user-block {
  display: flex;
  justify-content: space-between;
  min-width: 500px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-login-block {
  display: flex;
  min-width: 245px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-block a {
  position: relative;
  padding-left: 27px;
}

.user-block a::before {
  content: "";
  position: absolute;
  background-image: url('../img/icons.svg');
  background-repeat: no-repeat;
}

.user-login::before {
  top: -1px;
  left: -4px;
  width: 23px;
  height: 22px;
  background-position: 0 -626px;
}

.user-compare::before {
  top: 1px;
  left: 0;
  width: 20px;
  height: 20px;
  background-position: 0 -88px;
}

.user-cart::before {
  left: -2px;
  width: 22px;
  height: 22px;
  background-position: 0 0;
}

.user-block a:hover,
.user-block a:focus {
  opacity: 0.6;
}

.user-block a:active {
  opacity: 0.3;
}

.user-exit {
  opacity: 0.3;
}

.main-nav {
  position: relative;
}

.shop-block {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.shop-block-catalog {
  margin-right: 252px;
}

.shop-block-catalog a {
  position: relative;
}

.shop-block-catalog-btn::after {
  content: "";
  position: absolute;
  left: 225px;
  width: 26px;
  height: 26px;
  background-image: url('../img/icons.svg');
  background-repeat: no-repeat;
  background-position: 0 -379px;
  opacity: 0.3;
}

.shop-block a:hover,
.shop-block a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.shop-block a:active {
  color: rgba(0, 0, 0, 0.3);
}

.shop-block-inner {
  display: flex;
  position: absolute;
  top: 210px;
  left: 0;
  right: 0;
  width: 1160px;
  margin: 0 auto;
  background-color: #f7e296;
}

.shop-block-inner ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 130px;
  margin: 0;
  padding: 0;
  padding-left: 60px;
  padding-bottom: 40px;
  list-style: none;
}

.shop-block-inner a {
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.15px;
  text-transform: none;
  list-style: none;
}

.shop-block-inner a:hover,
.shop-block-inner a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.shop-block-inner a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-slider {
  position: relative;
  top: -113px;
  margin-bottom: -6px;
}

.main-slide {
  display: flex;
  justify-content: space-between;
}

.main-slide img {
  margin: 0 auto;
}

.main-slide:first-of-type img { /* Нужно прописать марджины для остальных слайдов */
  margin-left: 90px;
}

.main-slide .description {
  width: 508px;
  margin-right: 53px;
}

.main-slide h2 {
  margin-top: 80px;
  margin-bottom: 20px;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.69px;
  color: #000000;
}

.main-slide p {
  margin-bottom: 40px;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.18px;
}

.main-slide .btn {
  width: 220px;
  margin-bottom: 50px;
}

.main-slide-table {
  border-collapse: collapse;
}

.main-slide-table-top {
  font-family: "Gilroy";
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  color: #000000;
  margin-bottom: 15px;
}

.main-slide-table tr:last-of-type {
  font-size: 13px;
  font-weight: 300;
  line-height: 16px;
}

.main-slide-table td:not(:last-of-type) {
  padding-right: 78px;
}

.main-slide-table-top td {
  padding-bottom: 12px;
}

.main-slider-controls {
  position: absolute;
  bottom: 140px;
  right: 100px;
}

.inner-nav {
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 23px;
  letter-spacing: 0.18px;
  color: #000000;
}

.inner-nav-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.inner-nav-list li {
  width: 160px;
}

.inner-nav-list svg {
  background-color: rgba(240, 197, 46, 0.5);
  margin-bottom: 27px;
}

.inner-nav-link:hover svg,
.inner-nav-link:focus svg{
  background-color: rgba(240, 197, 46, 1);
}


.inner-nav-link:active image {
  opacity: 0.3;
}

.inner-nav-link:active svg {
  background-color: #f0c52e;
}

.inner-nav-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.features {
  width: 100%;
  padding-top: 151px;
  padding-bottom: 114px;
  margin-bottom: 95px;
  background-image: linear-gradient(to bottom, #ffffff, #ffffff 39%, #e5e5e5 39%, #e5e5e5);
}


.features-wrapper {
  display: flex;
}

.features-controls {
  position: relative;
  width: 160px;
  padding: 0;
  padding-top: 11px;
  margin: 0;
  margin-right: 242px;
}

.features-controls::after {
  content: "";
  position: absolute;
  bottom: -45px;
  right: -124px;
  width: 7px;
  height: 319px;
  background-color: #000000;
}

.features-controls .btn {
  width: 160px;
  margin-bottom: 23px;
}

.features-controls .btn.active,
.features-controls .btn:active {
  color: #fdde8d;
  cursor: default;
}

.features-controls .btn.active::before,
.features-controls .btn:active::before {
  width: 278px;
  top: 0;
  height: 100%;
  background-color: #000000;
}

.features-description {
  width: 430px;
  position: relative;
}

.features-description h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 29px;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.8px;
  color: #000000;
}

.features-description p {
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.21px;
}

.features-description svg { /* позиционировать остальные слайды */
  position: absolute;
  right: -262px;
  bottom: 24px;
}

.partners {
  display: flex;
  justify-content: space-between;
  margin-bottom: 90px;
}

.partners-link img {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale"); /* Firefox 10+, Firefox on Android */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%);
  opacity: 0.2;
}

.partners-link:hover img,
.partners-link:focus img,
.partners-link:active img {
  filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
  -webkit-filter: grayscale(0%);
  opacity: 1;
}

.about-and-contacts {
  padding-top: 47px;
  padding-bottom: 81px;
  display: flex;
  justify-content: space-between;
}

.about-and-contacts .about-us {
  width: 560px;
}

.about-and-contacts .contacts {
  width: 560px;
}

.contacts img {
  margin-bottom: 66px;
}

.about-and-contacts h3 {
  margin: 0;
  margin-bottom: 39px;
  padding: 0;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  color: #000000;
}

.about-and-contacts p {
  margin: 0;
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0.07px;
}

.contacts p {
  margin-bottom: 38px;
}

.about-and-contacts .btn {
  width: 260px;
}

.custom-list {
  padding: 35px 36px;
  margin: 0;
  margin-bottom: 19px;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;
  color: #000000;
  list-style: none;
}

.main-footer {
  width: 100%;
  background-color: #464646;
}

.main-footer-wrapper {
  display: flex;
  flex-direction: column;
}

.main-footer a,
.main-footer address {
  font-style: normal;
  color: #ffffff;
}

.main-footer-top {
  display: flex;
  justify-content: space-between;
  padding-top: 56px;
  padding-bottom: 24px;
}

.main-title-footer {
  margin: 0;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.2px;
  color: #ffc600;
  cursor: default;
}

.main-title-footer a {
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.55px;
  color: rgba(255, 198, 0, 1);
  cursor: pointer;
}

.main-title-footer a:hover,
.main-title-footer a:focus {
  color: rgba(255, 198, 0, 0.6);
}

.main-title-footer a:active {
  color: rgba(255, 198, 0, 0.3);
}

.user-block-footer {
  display: flex;
  justify-content: space-between;
  min-width: 325px;
  margin: 0;
  margin-top: 14px;
  padding: 0;
}

.user-login-block-footer {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-login-block-footer li {
  display: inline-block;
}

.user-block-footer li:not(:last-of-type) {
  margin-right: 36px;
}

.user-block-footer svg {
  margin-right: 10px;
}

.user-block-footer a {
  color: rgba(255, 255, 255, 0.7);
}

.user-block-footer a:hover,
.user-block-footer a:focus {
  color: rgba(255, 255, 255, 1);
}

.user-block-footer-link:hover svg,
.user-block-footer-link:focus svg {
  opacity: 0.6;
}

.user-block-footer a:active {
  opacity: 0.3;
}

.main-footer-middle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}

.main-footer-middle address {
  letter-spacing: -0.3px;
}

.main-footer-middle > a {
  letter-spacing: -0.18px;
}

.shop-block-footer {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.shop-block-footer a:hover,
.shop-block-footer a:focus {
  color: rgba(255, 255, 255, 0.6);
}

.shop-block-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}


.shop-block-footer li:not(:last-of-type) {
  margin-right: 35px;
}

.shop-block-footer li:first-of-type {
  margin-left: -35px;
}

.main-footer-bottom {
  display: flex;
  justify-content: flex-end;
  position: relative;
  padding-bottom: 60px;
}

.main-footer-bottom::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.htmlacademy-link {
  background-image: url("../img/logo-html.svg");
  background-repeat: no-repeat;
  width: 27px;
  height: 35px;
  margin-left: 478px;
}

.htmlacademy-link:hover,
.htmlacademy-link:focus {
  opacity: 0.6;
}

.htmlacademy-link:active {
  opacity: 0.3;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0;
  padding: 0;
}

.social-links li {
  width: 42px;
  height: 42px;
}

.social-links a {
  display: inline-block;
  width: 42px;
  height: 42px;
  opacity: 0.3;
}

.social-links a:hover,
.social-links a:focus {
  opacity: 0.6;
}

.social-links a:active {
  opacity: 0.1;
}

.social-links .fb {
  background-image: url("../img/icons.svg");
  background-repeat: no-repeat;
  background-position: 0 -108px;
}

.social-links .inst {
  background-image: url("../img/icons.svg");
  background-repeat: no-repeat;
  background-position: 0 -223px;
}

.social-links .tw {
  background-image: url("../img/icons.svg");
  background-repeat: no-repeat;
  background-position: 0 -584px;
}

/* inner pages */

.catalog-bg {
  width: 100%;
  background-image:
    linear-gradient(to right, #dcdcdc 0%, #dcdcdc 30%, #eeeeee 30%, #eeeeee 100%),
    linear-gradient(to right, #eeeeee 0%, #eeeeee 30%, #ffffff 30%, #ffffff 100%);
  background-size: 100% 70px, 100% 100%;
  background-repeat: no-repeat;
  background-position-y: 146px, 216px;
}

.inner-title {
  margin-top: 33px;
  margin-left: 59px;
  margin-bottom: 22px;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 56px;
  color: #000000;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-left: 60px;
  margin-bottom: 48px;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
  margin-right: 38px;
}

.breadcrumbs li:not(:last-of-type)::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -24px;
  width: 14px;
  height: 17px;
  background-image: url('../img/icons.svg');
  background-position: 0 -362px;
  background-repeat: no-repeat;
}

.breadcrumbs a {
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  color: #000000;
  opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  opacity: 0.6;
}

.breadcrumbs a:active {
  opacity: 0.1;
}

.breadcrumbs .active:hover,
.breadcrumbs .active:focus {
  cursor: default;
  opacity: 0.3;
}

.catalog-wrapper {
  display: flex;
  justify-content: space-between;
}

.sorting-form {
  width: 328px;
  padding-left: 60px;
  padding-right: 68px;
  background-color: transparent;
}

.sorting-form span {
  width: 100%;
  display: inline-block;
  padding: 24px 0;
  margin-bottom: 69px;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 3.91px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-form fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

.sorting-form legend {
  display: inline-block;
  width: 100%;
  padding-top: 10px;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
  border-top: 2px solid #000000;
}

.sorting-form label {
  font-size: 14px;
  font-weight: 300;
  line-height: 40px;
  color: #000000;
}

.sorting-form button {
  width: 200px;
}

.sorting-form-price legend {
  margin-bottom: 30px;
}

.sorting-form-price .price-controls {
  position: relative;
  margin-bottom: 36px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  color: #bfbfbf;
}

.price-range-line {
  position: relative;
  top: 5px;
  width: 100%;
  height: 2px;
  margin-bottom: 16px;
  background-color: #dbdbdb;
}

.price-range-line::before {
  content: "";
  position: absolute;
  left: 0;
  width: 110px;
  height: 2px;
  background-color: #91c92f;
}

.price-btn-min,
.price-btn-max {
  display: inline-block;
  position: relative;
}

.price-btn-min {
  margin-right: 60px;
}

.price-btn-min::before,
.price-btn-max::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 33px;
  background-image: url('../img/icons.svg');
  background-position: 0 -150px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.price-btn-min::before {
  top: -28px;
  left: -10px;
}

.price-btn-max::before {
  top: -28px;
  right: 12px;
}

.price-btn-min:active::before,
.price-btn-max:active::before {
  transform: scale(1.1);
}

.sorting-form-color {
  display: flex;
  flex-direction: column;
}

.sorting-form-color legend {
  margin-bottom: 18px;
}

.sorting-form-color label {
  position: relative;
  padding-left: 39px;
}

.sorting-form-color label:last-child {
  margin-bottom: 31px;
}

.sorting-form-checkbox {
  display: none;
}

.sorting-form-checkbox + label::before {
  content: "";
  position: absolute;
  top: 3px;
  left: -6px;
  width: 33px;
  height: 33px;
  background-image: url('../img/icons.svg');
  background-position: 0 -22px;
  background-repeat: no-repeat;
}

.sorting-form-checkbox:checked + label::before {
  width: 37px;
  background-position: 0 -55px;
}

.sorting-form-bluetooth {
  display: flex;
  flex-direction: column;
}

.sorting-form-bluetooth legend {
  margin-bottom: 18px;
}

.sorting-form-bluetooth label {
  position: relative;
  padding-left: 38px;
}

.sorting-form-bluetooth label:last-child {
  margin-bottom: 30px;
}

.sorting-form-radio {
  display: none;
}

.sorting-form-radio + label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -7px;
  width: 35px;
  height: 35px;
  background-image: url('../img/icons.svg');
  background-position: 0 -405px;
  background-repeat: no-repeat;
}

.sorting-form-radio:checked + label::before {
  background-position: 0 -440px;
}

.sorting-form-checkbox:hover + label,
.sorting-form-radio:hover + label {
  cursor: pointer;
}

.sorting-form-checkbox:hover + label::before,
.sorting-form-radio:hover + label::before {
  opacity: 0.6;
}

.sorting-form-checkbox:disabled + label,
.sorting-form-radio:disabled + label {
  opacity: 0.25;
}

.catalog-block {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 760px;
}

.sorting-items {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 69px;
  background-color: #eeeeee;
}

.sorting-items span {
  padding: 24px 0;
  margin-right: 9px;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
  letter-spacing: 3.81px;
  text-transform: uppercase;
  color: #000000;
}

.sorting-items-spec {
  display: flex;
  list-style: none;
}

.sorting-items-spec li:not(:last-of-type) {
  margin-right: 30px;
}

.sorting-items-spec a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  opacity: 0.3;
}

.sorting-items-spec a:hover,
.sorting-items-spec a:focus {
  opacity: 0.6;
}

.sorting-items-spec a:active {
  opacity: 1;
}

.sorting-items-spec a.active {
  opacity: 1;
  cursor: default;
}

.sorting-items-arrows {
  position: absolute;
  right: -4px;
}

.sorting-items-arrows {
  font-size: 0;
}

.sorting-items-arrows a {
  display: inline-block;
  width: 21px;
  height: 20px;
  background-image: url('../img/icons.svg');
  background-position: 0 -183px;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.sorting-items-arrows a:hover {
  opacity: 0.4;
}

.sorting-items-arrows a:first-of-type {
  transform: rotate(180deg);
  margin-right: 6px;
}

.sorting-items-arrows a:active,
.sorting-items-arrows a.active:hover,
.sorting-items-arrows .active {
  opacity: 1;
}

.catalog-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-bottom: 32px;
}

.new-item::before {
  content: "NEW";
  display: inline-block;
  position: absolute;
  top: 28px;
  right: 26px;
  width: 60px;
  height: 60px;
  padding-top: 19px;
  padding-left: 4px;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: 0.7px;
  text-align: center;
  vertical-align: center;
  color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}

.catalog-item h2 {
  display: inline-block;
  width: 250px;
  margin-top: 29px;
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 4.67;
  color: #000000;
}

.catalog-item span {
  position: absolute;
  right: 0;
  bottom: 39px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  vertical-align: middle;
}

.catalog-item .btn {
  width: 200px;
  margin-top: 170px;
  margin-bottom: 18px;
}

.catalog-item .compare-btn {
  font-size: 13px;
  font-weight: 300;
  line-height: 20px;
  opacity: 0.5;
}

.catalog-item .compare-btn:hover,
.catalog-item .compare-btn:focus {
  opacity: 1;
}

.catalog-item .compare-btn:active {
  opacity: 0.2;
}

.catalog-item-hover {
  display: none;
  position: absolute;
  top: 0;
  width: 360px;
  height: 380px;
  background-color: rgba(238, 238, 238, 0.7);
}

.catalog-item-hover a {
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

.catalog-item:hover .catalog-item-hover {
  display: block;
}

.catalog-pagination {
  margin-top: -13px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #eeeeee;
}

.catalog-pagination a {
  font-family: "Gilroy - Extra Bold", Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 22px;
  text-transform: uppercase;
  color: #000000;
}

.catalog-pagination .prew,
.catalog-pagination .next {
  padding: 24px;
  letter-spacing: 3.91px;
}

.catalog-pagination .prew:hover,
.catalog-pagination .next:hover,
.catalog-pagination .prew:focus,
.catalog-pagination .next:focus {
  background-color: #d9d9d9;
}

.catalog-pagination .prew:active,
.catalog-pagination .next:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-pages {
  display: flex;
  justify-content: space-between;
  min-width: 120px;
  list-style: none;
}

.catalog-pages a:not(.active) {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-pages a:hover,
.catalog-pages a:focus {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-pages a:active {
  color: rgba(0, 0, 0, 1);
}

.catalog-pages .active,
.catalog-pages .active:hover,
.catalog-pages .active:focus,
.catalog-pages .active:active {
  color: rgba(0, 0, 0, 1);
  cursor: default;
}
